<a href="https://colab.research.google.com/github/CODIM91/MBD/blob/main/Ejercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/datasets/Challenge_4y5 (1).csv')

In [ ]:
df.head()

,Cliente,Producto,sem44,sem43,sem42,sem41
0,500000055,BEBIDAS REFRESCANTES,0.4227,0.4227,0.000000,0.422700
1,500000055,COLAS REGULAR INDIVIDUAL NO RETORNABLE,8.6016,6.0655,12.680500,8.601600
2,500000055,COLAS REGULAR FAMILIAR RETORNABLE,26.7700,22.8953,46.847499,30.292399
3,500000055,LECHE UHT SABORIZADA,0.1409,0.1057,0.000000,0.140900
4,500000055,COLAS LIGHT INDIVIDUAL,0.0000,1.2680,2.536000,1.268000

In [ ]:
pivot_table = pd.pivot_table(df, values=['sem44', 'sem43', 'sem42', 'sem41'], index=['Cliente', 'Producto'], aggfunc=np.sum)

In [ ]:
best_products = []
worst_products = []
for Cliente in pivot_table.index.levels[0]:
    total_sales = pivot_table.loc[Cliente].groupby('Producto').sum()
    best_product = total_sales.idxmax()[0]
    worst_product = total_sales.idxmin()[0]
    best_products.append(best_product)
    worst_products.append(worst_product)

In [ ]:
best_products_df = pd.DataFrame(best_products, columns=['Best Product'], index=pivot_table.index.levels[0])
worst_products_df = pd.DataFrame(worst_products, columns=['Worst Product'], index=pivot_table.index.levels[0])

In [ ]:
results_df = pd.concat([best_products_df, worst_products_df], axis=1)

In [ ]:
print(results_df)

                                   Best Product               Worst Product
Cliente
500000055     COLAS REGULAR FAMILIAR RETORNABLE          BEBIDAS INFANTILES
500000058     COLAS REGULAR FAMILIAR RETORNABLE  BEBIDAS DE SOYA INDIVIDUAL
500000061     COLAS REGULAR FAMILIAR RETORNABLE       AGUA MINERAL FAMILIAR
500000062     COLAS REGULAR FAMILIAR RETORNABLE       AGUA MINERAL FAMILIAR
500000064     COLAS REGULAR FAMILIAR RETORNABLE       AGUA MINERAL FAMILIAR
...                                         ...                         ...
500257098   COLAS REGULAR INDIVIDUAL RETORNABLE  AGUA PURIFICADA INDIVIDUAL
500257100  COLAS REGULAR FAMILIAR NO RETORNABLE       AGUA MINERAL FAMILIAR
500257103     COLAS REGULAR FAMILIAR RETORNABLE     AGUA MINERAL INDIVIDUAL
500257109   COLAS REGULAR INDIVIDUAL RETORNABLE     AGUA MINERAL INDIVIDUAL
500257111     COLAS REGULAR FAMILIAR RETORNABLE     AGUA MINERAL INDIVIDUAL

[66338 rows x 2 columns]

In [ ]:
count_df = results_df.groupby(['Best Product', 'Worst Product']).size().reset_index(name='Count')

In [ ]:
count_df = count_df.sort_values('Count', ascending=False)

In [ ]:
count_df

,Best Product,Worst Product,Count
195,COLAS REGULAR FAMILIAR RETORNABLE,AGUA MINERAL INDIVIDUAL,12002
197,COLAS REGULAR FAMILIAR RETORNABLE,AGUA PURIFICADA INDIVIDUAL,5711
168,COLAS REGULAR FAMILIAR NO RETORNABLE,AGUA MINERAL INDIVIDUAL,5463
194,COLAS REGULAR FAMILIAR RETORNABLE,AGUA MINERAL FAMILIAR,4889
167,COLAS REGULAR FAMILIAR NO RETORNABLE,AGUA MINERAL FAMILIAR,3042
...,...,...,...
24,AGUA MINERAL INDIVIDUAL,COLAS REGULAR INDIVIDUAL RETORNABLE,1
271,COLAS REGULAR INDIVIDUAL RETORNABLE,SABORES REGULAR FAMILIAR RETORNABLE,1
90,BEBIDAS DE SOYA FAMILIAR,AGUA MINERAL INDIVIDUAL,1
287,ISOTONICOS,COLAS REGULAR INDIVIDUAL RETORNABLE,1
89,AGUA SABORIZADA INDIVIDUAL,LECHE UHT SABORIZADA,1